<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppCenter-Config.plist
   jovi

   Created by Cibak Solutions on 03/02/2022.
   Copyright (c) 2022 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>AppSecret</key>
    <string>4ba47ed7-9499-4cb2-b1c0-c797f47b5741</string>
</dict>
</plist>
