<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Jovi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string></string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your music</string>
	<key>NSCameraUsageDescription</key>
	<string>This will allow you to take and upload pictures to be used in your profile. You will also be able to send pictures at the time of placing an order. You may also send pictures to your allocated Jovi during an order via the live chat, to ensure the accuracy of you order.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>To allocate the nearest Jovi rider when you place your order. It will help us in providing a more accurate estimate of the cost and time of the Jovi job.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>To allocate the nearest Jovi rider when you place your order. It will help us in providing a more accurate estimate of the cost and time of the Jovi job.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To allocate the nearest Jovi rider when you place your order. It will help us in providing a more accurate estimate of the cost and time of the Jovi job.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to access your microphone to share voice notes during your order, to ensure the accuracy of your order.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your photo gallery</string>
	<key>UIAppFonts</key>
	<array>
		<string>PoppinsBlack.ttf</string>
		<string>PoppinsBlackItalic.ttf</string>
		<string>PoppinsBold.ttf</string>
		<string>PoppinsBoldItalic.ttf</string>
		<string>PoppinsExtraBold.ttf</string>
		<string>PoppinsExtraBoldItalic.ttf</string>
		<string>PoppinsExtraLight.ttf</string>
		<string>PoppinsExtraLightItalic.ttf</string>
		<string>PoppinsItalic.ttf</string>
		<string>PoppinsLight.ttf</string>
		<string>PoppinsLightItalic.ttf</string>
		<string>PoppinsMedium.ttf</string>
		<string>PoppinsMediumItalic.ttf</string>
		<string>PoppinsRegular.ttf</string>
		<string>PoppinsSemiBold.ttf</string>
		<string>PoppinsSemiBoldItalic.ttf</string>
		<string>PoppinsThin.ttf</string>
		<string>PoppinsThinItalic.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
<string>FontAwesome5_Regular.ttf</string>
<string>FontAwesome5_Solid.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
